@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Ẩn scrollbar nhưng vẫn giữ chức năng scroll */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  /* Scrollbar tùy chỉnh */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #f36 #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #f36;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
  }
}
