@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Ẩn scrollbar nhưng vẫn giữ chức năng scroll */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
